.container {
	width: 420px;
	margin: auto;
}

fieldset {
	border: solid 1px black;
	margin-bottom: 20px;
}

.no-display {
	display: none;
}

#header {
	margin-bottom: 20px;
}

#barcode {
	width: 250px;
	float: right;
}

h1 {
	width: 140px;
	font-size: 25px;
	text-align: center;
}

h1 span {
	font-size: 14px;
}

label,
th {
	font-size: 14px;
}

thead th {
	text-align: left;
}

#signature td {
	padding-bottom: 50px;
  	width: 300px;
}

#buttonset {
	border: none;
	text-align: right;
}

table {
	width: 100%;
}

button {
	padding: 10px 20px;
}

td span {
	font-size: 12px;
	display: none;
}

input {
	padding: 5px 10px;
	width: 100px;
	font-size: 12px;
}

td[colspan] input {
	width: 270px;
}

.product_name {
	width: 170px;
}

.product_price,
.product_quantity,
.product_value {
	width: 65px;
}

#order_number {
	width: 200px;
}

iframe {
	display: none;
}


@media print {
	
	@page {
    	margin: 10px;
	}
	
    #order_number_wrapper,
	#buttonset {
        display: none;
    }
	
	input {
		display: none;
	}
	
	td span {
		display: inline-block;
	}
	
	form {
		page-break-inside: avoid;
	}
	
	#print_form {
		page-break-after: always;
	}
}